.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.tools {
    flex: 1;
    margin: 2rem;
    padding: 2rem;
    border-radius: 12px;
}

.tooltip {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-name {
    position: absolute;
    top: -25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

.tool-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-content: center;
}

.tool-logos img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 5px;
    background-color: rgb(236, 236, 236);
}

.tool-logos img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.tooltiptext {
    position: absolute;
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    margin: 60% 10%;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 50;
}

.game-files {
    flex: 1;
    margin: 2rem;
    padding: 2rem;
    border-radius: 12px;
}

.category {
    margin-bottom: 2rem;
}

.category h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.game-files ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.game-files li {
    flex: 1 1 calc(33% - 1rem);
    margin-bottom: 1rem;
}

.game-files a {
    text-decoration: none;
    background-color: rgb(236, 236, 236);
    color: #dfdfdf;
    font-size: 1.2rem;
    transition: color 0.3s, transform 0.3s;
    padding: 20px;
    border-radius: 8px;
    display: block;
    text-align: center;
    background: linear-gradient(135deg, #00adb5 0%, #007cb5af 100%);
}

.game-files a:hover {
    color: #1d1d1d;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.no-category {
    text-align: center;
}

.no-category ul {
    /* width: 50%; */
    margin-bottom: 2rem;
}