.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.tools {
    flex: 1;
    margin: 2rem;
    padding: 2rem;
    border-radius: 12px;
}

.logo-name {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.tool-logos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.tool-logos img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 5px;
    background-color: rgb(236, 236, 236);
}

.tool-logos img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.tooltiptext {
    position: relative;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* bottom: -35px;  */
    right: 38%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.game-files {
    flex: 1;
    margin: 2rem;
    padding: 2rem;
    border-radius: 12px;
}

.category {
    margin-bottom: 2rem;
}

.category h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.game-files ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.game-files li {
    flex: 1 1 calc(33% - 1rem); /* Augmenter la taille des cartes */
    margin-bottom: 1rem;
}

.game-files a {
    text-decoration: none;
    background-color: rgb(236, 236, 236);
    color: #dfdfdf;
    font-size: 1.2rem;
    transition: color 0.3s, transform 0.3s;
    padding: 20px; /* Augmenter le padding pour agrandir les cartes */
    border-radius: 8px;
    display: block;
    text-align: center;
    background: linear-gradient(135deg, #009ab5ad 0%, #007cb5af 100%); /* Ajouter un joli fond */
}

.game-files a:hover {
    color: #1d1d1d;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.no-category {
    text-align: center; /* Centrer le contenu */
}

.no-category ul {
    width: 50%;
    margin: 0 auto; /* Centrer la liste */
}