* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #e0e0e0;
    line-height: 1.6;
    margin: 0;
}
html, body {
    background-color: #383838; /* Utilisez la couleur de votre choix */
    height: 100%;
}

header {
    background-color: #1f1f1f;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00adb5;
}